{{#if categories}}
    {{#each categories}}
        <section class="tsd-panel-group tsd-member-group {{cssClasses}}">
            <h2>{{#if title}}{{title}} {{/if}}{{../title}}</h2>
            {{#each children}}
                {{#unless hasOwnDocument}}
                    {{> member}}
                {{/unless}}
            {{/each}}
        </section>
    {{/each}}
{{else}}
    <section class="tsd-panel-group tsd-member-group {{cssClasses}}">
        <h2>{{title}}</h2>
        {{#each children}}
            {{#unless hasOwnDocument}}
                {{> member}}
            {{/unless}}
        {{/each}}
    </section>
{{/if}}