{{#if parent}}
    {{#with parent}}{{> breadcrumb}}{{/with}}
    <li>
        {{#if url}}
            <a href="{{relativeURL url}}">{{jpFormatClassName name}}</a>
        {{else}}
            <span>{{jpFormatClassName name}}</span>
        {{/if}}
    </li>
{{else}}
<!--
    {{#if url}}
        <li>
            <a href="{{relativeURL url}}">Globals</a>
        </li>
    {{/if}}
-->
{{/if}}